<li class="row flexrow {{#if condition.hidden}}hidden{{/if}}" data-mapping-row="{{@index}}" data-condition-id="{{condition.id}}">
    <!--column 1-->

    <!--column 2-->
    <div class="flexcol content1">

        <!--row 1 icon + text-->
        <div class="flexrow">
            <!--row 1 col 1 icon-->
            <div class="flexcol icon">
                <img name="icon-{{@index}}" src="{{condition.img}}" title="Status Icon" class="icon" />
            </div>
            <!--row 1 col 2 text-entry-->
            <div class="flexcol text-entry">
                <div class="flexrow">
                    <div class="condition">
                        <div class="wrapper-rel">
                            <label for="condition-{{@index}}" class="inset-label">{{localize "succ.WORDS.Name"}}</label>
                            <input type="text" name="condition-{{@index}}" title="Condition" value="{{condition.name}}" class="condition condition-text-input" placeholder="Condition Name" data-dtype="String" {{#unless isCustom}}disabled{{/unless}}>
                        </div>
                    </div>
                </div>
                <div class="flexrow condition-lab text-entry reference">
                    <div class="wrapper-rel">
                        <label for="reference-item-{{@index}}" class="inset-label">{{localize "succ.WORDS.Reference"}}</label>
                        <input type="text" name="reference-item-{{@index}}" value="{{condition.referenceId}}" title="Condition Reference" placeholder="{{localize " succ.ENHANCED_CONDITIONS.ConditionLab.NoReference"}}" {{#unless isCustom}}disabled{{/unless}}>
                    </div>
                    <div class="enriched-link">{{{condition.enrichedReference}}}</div>
                </div>
            </div>
        </div>
        <!--row 2 reference-->
        <div class="flexrow path">
            <div class="wrapper-rel">
                <label for="icon-path-{{@index}}" class="inset-label">{{localize "succ.WORDS.Icon"}}</label>
                <input type="text" name="icon-path-{{@index}}" title="Status Icon Path" class="icon-path condition-text-input" value="{{condition.img}}" placeholder="/icons/example.svg" data-dtype="String" {{#unless isCustom}}disabled{{/unless}}>
            </div>
            <button type="button" name="file-picker-{{@index}}" class="file-picker" data-type="image" data-target="icon-path-{{@index}}" title="Browse Files" tabindex="-1" {{#unless isCustom}}disabled{{/unless}}>
                <i class="fas fa-file-import fa-fw"></i>
            </button>
        </div>
    </div>
    <!--column 3-->
    <div class="flexcol content2">
        <div class="flexrow">
            <div class="flexrow related-buttons">
            {{!-- <div class="active-effect"> --}}
            <button type="button"
                name="option-config"
                class="option-config"
                title="{{condition.optionButtonTitle}}">
                    <i class="fas fa-cog"></i> {{localize "succ.ENHANCED_CONDITIONS.ConditionLab.Buttons.Options"}}
                </button>
            <button type="button"
                    class="active-effect-config"
                    title="{{#if condition.isNew}}
                        {{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.TitleDisabledNew"}}
                        {{else unless isCustom}}{{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.TitleDisabledNotCustom"}}
                        {{else}}{{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.Title"}}
                        {{/if}}"
                    {{#unless (and (eq condition.isNew false) isCustom) }}disabled{{/unless}}>
                    <i class="fas fa-hand-sparkles"></i> {{localize "ENHANCED_CONDITIONS.Lab.ActiveEffects.Button"}}
                </button>
                <div class="flex-break"></div>
            <button type="button"
                name="save-macro"
                class="save-macro"
                title="{{localize "ENHANCED_CONDITIONS.Lab.SaveMacro.Title"}}">
                    <i class="fas fa-save"></i> {{localize "ENHANCED_CONDITIONS.Lab.SaveMacro.Button"}}
                </button>
            <button type="button"
                class="macro-config-button">
                    <i class="fas fa-code"></i> {{localize "ENHANCED_CONDITIONS.Lab.MacrosConfig.Button"}}
                </button>
            </div>
            <div class="flexrow reset-condition">
                <button type="button"
                    name="reset-condition-button"
                    class="reset-condition-button" {{#if condition.addedByLab}}disabled{{/if}}>
                    <i class="fas fa-history"></i> {{localize "ENHANCED_CONDITIONS.Lab.ResetCondition.Button"}}
                </button>
            </div>
        </div>
    </div>
    <!--column 4-->
    <!--delete row-->
    <div class="flexcol row-controls">
        <div class="move-up">
            {{#unless sortDirection}}
            {{#unless (eq key 0)}}<a class="move-up"><i class="fas fa-chevron-up"></i></a>{{/unless}}
            {{/unless}}
        </div>
        <div class="remove-row">
            {{#if isCustom}}
            {{#if addedByLab}}
            <a name="remove-row-{{@index}}" class="remove-row" title="Delete Row">
                <i class="fas fa-trash"></i>
            </a>
            {{/if}}
            {{/if}}
        </div>
        <div class="move-down">
            {{#unless sortDirection}}
            {{#unless (eq key conditionMapLength)}}<a class="move-down"><i class="fas fa-chevron-down"></i></a>{{/unless}}
            {{/unless}}
        </div>
    </div>
</li>