<section class="tab active scrollable" data-group="primary" data-tab="general">
    {{#if condition.addedByLab}}
        <div class="formgroup">
            <label>{{localize "ENHANCED_CONDITIONS.Lab.Options.CustomId.Label"}}
                <input type="text" name="custom-id" value="{{customId}}"></label>
            <p class="notes">{{{localize "ENHANCED_CONDITIONS.Lab.Options.CustomId.Desc"}}}</p>
        </div>
    {{else}}
        <div class="formgroup">
            <div class="condition-id-group">
                <label>{{localize "ENHANCED_CONDITIONS.Lab.Options.ConditionId.Label"}}<span class="condition-id">&nbsp;&nbsp;{{condition.id}}</span>
                    <button class="copy-button" data-action="copyId" name="copy-id" class="copy-id" type="button">
                        <i class="fas fa-copy"></i>
                    </button>
            </div>
            <p class="notes">{{{localize "ENHANCED_CONDITIONS.Lab.Options.ConditionId.Desc"}}}</p>
        </div>
    {{/if}}
    <div class="formgroup">
        <label><input type="checkbox" name="overlay" {{checked condition.options.overlay}} {{#unless labData.isCustom}}disabled{{/unless}}>
            {{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Label"}}</label>
        <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Desc"}}</p>
    </div>
    <div class="formgroup">
        <label><input type="checkbox" name="remove-others" {{checked condition.options.removeOthers}} {{#unless labData.isCustom}}disabled{{/unless}}>
            {{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Label"}}</label>
        <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Desc"}}</p>
    </div>
    {{#unless labData.disableChatOutput}}
        <div class="formgroup">
            <label><input type="checkbox" name="output-chat" {{checked condition.options.outputChat}}>
                {{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Label"}}</label>
            <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Desc"}}</p>
        </div>
    {{/unless}}
    {{#unless condition.destroyDisabled}}
        <div class="formgroup">
            <label><input type="checkbox" name="use-as-status-effect" {{checked condition.options.useAsStatusEffect}}>
                {{localize "ENHANCED_CONDITIONS.Lab.Options.UseAsStatusEffect.Label"}}</label>
            <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.UseAsStatusEffect.Desc"}}</p>
        </div>
    {{/unless}}
</div>