{{{body}}}
<br>
<br>
<div class="formgroup">
    <input type="checkbox" id="clear-cache" style="vertical-align: middle;">
    <label for="clear-cache" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ClearCache"}}
    </label>
</div>
{{#unless isDefaultMapType}}
<div class="formgroup">
    <input type="checkbox" id="reset-names" style="vertical-align: middle;">
    <label for="reset-names" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ResetNames"}}
    </label>
</div>
<div class="formgroup">
    <input type="checkbox" id="reset-refs" style="vertical-align: middle;">
    <label for="reset-refs" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ResetReferenceLinks"}}
    </label>
</div>
<div class="formgroup">
    <input type="checkbox" id="reset-icons" style="vertical-align: middle;">
    <label for="reset-icons" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ResetIcons"}}
    </label>
</div>
<div class="formgroup">
    <input type="checkbox" id="reset-options" style="vertical-align: middle;">
    <label for="reset-options" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ResetOptions"}}
    </label>
</div>
<div class="formgroup">
    <input type="checkbox" id="reset-aes" style="vertical-align: middle;">
    <label for="reset-aes" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ResetActiveEffects"}}
    </label>
</div>
<div class="formgroup">
    <input type="checkbox" id="reset-macros" style="vertical-align: middle;">
    <label for="reset-macros" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.ResetMacros"}}
    </label>
</div>
{{#unless condition}}
<div class="formgroup">
    <input type="checkbox" id="remove-added" style="vertical-align: middle;">
    <label for="remove-added" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Lab.RestoreDefaults.RemoveAdded"}}
    </label>
</div>
{{/unless}}
{{/unless}}
<br>