<li class="flexrow" id="{{conditionID}}" data-condition-name="{{conditionName}}">
    <div class="condition-icon">
        <img src="{{conditionIcon}}" class="condition-icon chat-message" title="{{conditionName}}">
    </div>
    {{#if hasReference}}
    <div class="condition-reference">
        {{conditionAndLink}}
    </div>
    {{else}}
    <div class="condition-name" style="flex: 2; margin: 3px 0px 0px 0px" height="20px">
        {{conditionAndLink}}
    </div>
    {{/if}}
    {{#if removed}}
    <div class="undo-remove succ-undo">
        <a title="{{localize "SUCC.undo"}}"><i class="fas fa-undo"></i></a>
    </div>
    {{else}}
    <div class="remove-row succ-remove">
        <a title="{{localize "SUCC.remove"}}"><i class="fas fa-times"></i></a>
    </div>
    {{/if}}
</li>