<form data-condition-id="{{condition.id}}" class="flex">
    <nav class="sheet-tabs tabs" data-group="main" aria-role="Form Tab Navigation">
        <a class="item active" data-tab="general-options">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Tabs.General"}}</a>
        <a class="item" data-tab="special-effects">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Tabs.SpecialEffects"}}</a>
    </nav>

    <div class="scrollable">
        <section class="condition-options">
            <div class="tab active" data-group="main" data-tab="general-options">
                {{#if condition.addedByLab}}
                <div class="formgroup">
                    <label>{{localize "ENHANCED_CONDITIONS.Lab.Options.CustomId.Label"}}
                        <input type="text" name="custom-id" value="{{customId}}"></label>
                    <p class="notes">{{{localize "ENHANCED_CONDITIONS.Lab.Options.CustomId.Desc"}}}</p>
                </div>
                {{/if}}
                <div class="formgroup">
                    <label><input type="checkbox" name="overlay" {{checked condition.options.overlay}} {{#unless labData.isCustom}}disabled{{/unless}}>
                        {{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Label"}}</label>
                    <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Desc"}}</p>
                </div>
                <div class="formgroup">
                    <label><input type="checkbox" name="remove-others" {{checked condition.options.removeOthers}} {{#unless labData.isCustom}}disabled{{/unless}}>
                        {{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Label"}}</label>
                    <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Desc"}}</p>
                </div>
                <div class="formgroup">
                    <label><input type="checkbox" name="output-chat" {{checked condition.options.outputChat}} {{#if labData.disableChatOutput}}disabled{{/if}}>
                        {{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Label"}}</label>
                    <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Desc"}}</p>
                </div>
                {{#unless condition.destroyDisabled}}
                <div class="formgroup">
                    <label><input type="checkbox" name="use-as-status-effect" {{checked condition.options.useAsStatusEffect}}>
                        {{localize "ENHANCED_CONDITIONS.Lab.Options.UseAsStatusEffect.Label"}}</label>
                    <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.UseAsStatusEffect.Desc"}}</p>
                </div>
                {{/unless}}
            </div>

            <div class="tab" data-group="main" data-tab="special-effects">
                {{#each specialEffectOptions}}
                <div class="formgroup">
                    <label><input type="checkbox" name={{this.optionProperty}} {{checked this.option}} {{#unless ../labData.isCustom}}disabled{{/unless}}>
                        {{localize this.optionLabel}}</label>
                    <p class="notes">{{localize this.optionNotes}}</p>
                </div>
                {{/each}}
            </div>
        </section>
    </div>

    <div class="footer">
        <button name="save" class="save" type="submit">
            <i class="fas fa-save"></i>&nbsp;{{localize "succ.PHRASES.SaveAndClose"}}
        </button>
        <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.SaveNote"}}</p>
    </div>
</form>