<form data-condition-id="{{condition.id}}">
    <h2>{{condition.name}} - {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Heading"}}</h3>
    <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Description"}}</p>
    {{!-- <div class="flexrow options"> --}}
        <div class="formgroup" title="{{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Title"}}">
            <input type="checkbox" name="overlay" {{checked condition.options.overlay}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="overlay">
                {{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.Overlay.Title"}}</p>
        </div>
        <div class="formgroup" title="{{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Title"}}">
            <input type="checkbox" name="remove-others" {{checked condition.options.removeOthers}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="remove-others">
                {{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.RemoveOthers.Title"}}</p>
        </div>
        <div class="formgroup" title="{{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Title"}}">
            <input type="checkbox" name="output-chat" {{checked condition.options.outputChat}} {{#if ../disableChatOutput}}disabled{{/if}}>
            <label for="output-chat">
                {{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span>     --}}
            </label>
            <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.OutputChat.Title"}}</p>
        </div>
        <div class="formgroup" title="{{localize "ENHANCED_CONDITIONS.Lab.Options.MarkDefeated.Title"}}">
            <input type="checkbox" name="mark-defeated" {{checked condition.options.markDefeated}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="mark-defeated">
                {{localize "ENHANCED_CONDITIONS.Lab.Options.MarkDefeated.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "ENHANCED_CONDITIONS.Lab.Options.MarkDefeated.Title"}}</p>
        </div>
        <h3>{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.SpecialStatusEffects.Heading"}}</h3>
        <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.SpecialStatusEffects.Description"}}</p>
        <div class="formgroup" title="{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.BlindToken.Label"}}">
            <input type="checkbox" name="blind-token" {{checked condition.options.blindToken}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="blind-token">
                {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.BlindToken.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.BlindToken.Notes"}}</p>
        </div>
        <div class="formgroup" title="{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.MarkInvisible.Label"}}">
            <input type="checkbox" name="mark-invisible" {{checked condition.options.markInvisible}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="mark-invisible">
                {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.MarkInvisible.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.MarkInvisible.Notes"}}</p>
        </div>
        {{#if swade}}
        <div class="formgroup" title="{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.BoostTrait.Label"}}">
            <input type="checkbox" name="boost-trait" {{checked condition.options.boostTrait}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="boost-trait">
                {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.BoostTrait.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.BoostTrait.Notes"}}</p>
        </div>
        <div class="formgroup" title="{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.LowerTrait.Label"}}">
            <input type="checkbox" name="lower-trait" {{checked condition.options.lowerTrait}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="lower-trait">
                {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.LowerTrait.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Smite.Notes"}}</p>
        </div>
        <div class="formgroup" title="{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Smite.Label"}}">
            <input type="checkbox" name="smite" {{checked condition.options.smite}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="smite">
                {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Smite.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Smite.Notes"}}</p>
        </div>
        <div class="formgroup" title="{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Protection.Label"}}">
            <input type="checkbox" name="protection" {{checked condition.options.protection}} {{#if ../isDefault}}disabled{{/if}}>
            <label for="protection">
                {{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Protection.Label"}}
                {{!-- <span class="tooltip"><i class="fas fa-question-circle"></i></span> --}}
            </label>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.Protection.Notes"}}</p>
        </div>
        {{/if}}
    {{!-- </div> --}}
    <br/>    
    <div class="footer">
        {{canSave}}
        <button name="save" class="save" type="submit">
            <i class="fas fa-save"></i>&nbsp;{{localize "succ.PHRASES.SaveAndClose"}}
        </button>
        <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.SaveNote"}}</p>
    </div>
</form>