<h2><img src={{condition.img}} width="30" height="30" style="border:0;" /> {{{localize "ENHANCED_CONDITIONS.Dialog.SmiteBuilder.Name"}}}</h2>
{{{localize "ENHANCED_CONDITIONS.Dialog.SmiteBuilder.Body"}}}
<div style="display:flex">
    <p style="flex:3">{{{localize "ENHANCED_CONDITIONS.Dialog.WeaponToAffect"}}}</p>
    <select id="weapon">{{{weapOptions}}}</select>
</div>
<div style="display:flex">
    <p style="flex:3">{{{localize "ENHANCED_CONDITIONS.Dialog.AmountToIncrease"}}}</p>
    <input type="number" id="damageBonus" value="2" style="flex:1"/></input>
</div>