<div class="settings-section">
    <form id="settings-form" class='sheet-body settings-list'>
        <div class="form-group">
            <label>{{localize "succ.ENHANCED_CONDITIONS.TokenDisplaySettingsMenu.Settings.SizeN"}}</label>
            <select name="effect-size" data-dtype="String">
                {{selectOptions this.sizeChoices selected=this.tokenDisplaySettings.effectSize localize=true}}
            </select>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.TokenDisplaySettingsMenu.Settings.SizeD"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "succ.ENHANCED_CONDITIONS.TokenDisplaySettingsMenu.Settings.BGShapeN"}}</label>
            <select name="bg-shape" data-dtype="String">
                {{selectOptions this.shapeChoices selected=this.tokenDisplaySettings.bgShape localize=true}}
            </select>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.TokenDisplaySettingsMenu.Settings.BGShapeD"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "succ.ENHANCED_CONDITIONS.TokenDisplaySettingsMenu.Settings.PositioningN"}}</label>
            <select name="effect-positioning" data-dtype="String">
                {{selectOptions this.positioningChoices selected=this.tokenDisplaySettings.effectPositioning localize=true}}
            </select>
            <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.TokenDisplaySettingsMenu.Settings.PositioningD"}}</p>
        </div>
    </form>

    <footer>
        <button type="submit" form="settings-form" class="save-button"><i class="fas fa-save"></i>{{localize "succ.WORDS.Save"}}</button>
    </footer>
</div>