<div autocomplete="off">
    <h4>
        <i class="fas fa-flask"></i> {{localize "ENHANCED_CONDITIONS.Lab.Title"}}
        {{#if unsavedMap}} <strong> {{localize "ENHANCED_CONDITIONS.Lab.MappingType.Unsaved"}}</strong>{{/if}}
    </h4>
    <div class="flexrow">
        {{!-- List Controls --}}
        <div class="flexrow condition-list-controls">
            <div class="sort">
                <a class="sort-list" title="{{sortTitle}}">
                    <span class="fa-stack fa-1x">
                        {{#unless sortDirection}}<i class="fas fa-slash fa-stack-1x"></i>{{/unless}}
                        {{#if (eq sortDirection "desc")}}<i class="fas fa-sort-alpha-down-alt fa-stack-1x"></i>
                        {{else}}<i class="fas fa-sort-alpha-down fa-stack-1x"></i>
                        {{/if}}
                    </span>
                </a>
            </div>
            <div class="filter">
                <div class="input-wrapper">
                    <i class="fas fa-filter"></i>
                    <input type="text" name="filter-list" title="{{filterTitle}}" placeholder="{{filterTitle}}" value="{{filterValue}}" data-dtype="String">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "ENHANCED_CONDITIONS.Lab.MappingType.Label"}}</label>
            <select name="map-type" class="map-type" title="">
                {{selectOptions mapTypeChoices selected=mapType localize=true}}
            </select>
        </div>
        {{!-- <hr>     --}}
    </div>
</div>